<h1>
  Employee List
</h1>

<table class="table">
    <thead>
      <tr>
        <th>Even/Odd</th>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>
          Select Employee
        </th>
      </tr>
    </thead>
    <tbody>
      <tr [ngClass]="even? 'even' : 'odd'" *ngFor="let employee of employeeList; let even= even;let odd=odd">
        <td>{{even}}  {{odd}}</td>
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.address}}</td>
        <td>{{employee.email}}</td>
        <td>
          <button class="btn btn-primary"
           (click)="currentEmployee(employee)">
            Select Employee
          </button>
        </td>
      </tr>
    </tbody>
  </table>