<h1>
  Employee Name {{name}}
</h1>

<div [ngClass]="className" [hidden]="isHidden" [innerText]="department">
</div>

<input class="form-control" type="text" [value]="employee.name">
<input class="form-control" type="text" [value]="employee.email" (change)="employee.email=$event.target.value">
<input class="form-control" type="text" [value]="employee.address" (change)="employee.address=$event.target.value">

<div *ngIf="isHidden">
  NgIf
</div>

<button class="btn btn-primary" (click)="toggleDiv()">
  Toggle
</button>

<h1>Employee Details</h1>
{{employee.id}}
{{employee.name}}
{{employee.email}}
{{employee.address}}
<!-- {{empList}} -->
<ecom-employee-list [employeeList]="empList" (selectedEmployee)="receiveEmployee($event)"></ecom-employee-list>